@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Pacifico&display=swap");

@import "tailwindcss";
@import "./tailwindcss.css";

@theme {
  --font-pacifico: "Pacifico", sans-serif;
  --font-lexend: "Lexend", sans-serif;
  --nav-h-desktop: 5rem;
  --nav-h-mobile: 10rem;
}

@layer base {
  body {
    @apply bg-ev-base text-ev-text font-lexend;
  }
  .card {
    @apply hidden;

    &.latte {
      @apply in-[.latte]:inline-block;
    }
    &.frappe {
      @apply in-[.frappe]:inline-block;
    }
    &.macchiato {
      @apply in-[.macchiato]:inline-block;
    }
    &.mocha {
      @apply in-[.mocha]:inline-block;
    }
    &.unthemed {
      @apply in-[.unthemed]:inline-block;
    }
  }
}

@layer components {
  .btn {
    @apply rounded-lg p-1.5 text-sm sm:text-base bg-ev-crust transition-colors duration-300 hover:!bg-ev-pink hover:!text-ev-base ring-1 ring-ev-surface0;
    &.active {
      @apply bg-ev-pink/20 ring-1 ring-ev-pink;
    }
  }
}
