---
import Navbar from "../components/Navbar.astro";
import Greeting from "../components/Greeting.astro";
import Gallery from "../components/Gallery.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar />
  <div class="p-4 md:p-8 mt-(--nav-h-mobile) lg:mt-(--nav-h-desktop)">
    <Greeting />
    <Gallery />
  </div>
</Layout>
