<div id="flavour-selector" class="mx-2 flex gap-2">
  <button class="btn" id="latte">latte</button>
  <button class="btn" id="frappe">frappe</button>
  <button class="btn active" id="macchiato">macchiato</button>
  <button class="btn" id="mocha">mocha</button>
  <button class="btn" id="unthemed">unthemed</button>
</div>

<script src="../utils/flavour-selector.ts"></script>
