<div class="bg-ev-yellow text-ev-base p-4 inline-block rounded-lg mb-6">
  <p>
    <strong>warning:</strong> this site is still a work in progress
  </p>
</div>

<p>hii, welcome to my wallpaper dump!</p>

<p>remember to credit original authors and enjoy your stay ^-^</p>

<p class="text-ev-subtext0 italic">
  <strong>note:</strong> the reason the wallpapers are compressed is to speed up
  your viewing experience, if you hover over the wallpaper you will find a download
  button
</p>

<br />
