<div id="variant-selector" class="mx-2 flex gap-2">
  <button class="btn" id="summer">summer</button>
  <button class="btn" id="spring">spring</button>
  <button class="btn active" id="fall">fall</button>
  <button class="btn" id="winter">winter</button>
  <button class="btn" id="unthemed">unthemed</button>
</div>

<script src="../utils/variant-selector.ts"></script>
